body{
    background-color: rgb(10, 98, 114);
}

.container{
    background-color:rgb(0, 0, 0);
    color: whitesmoke;
    margin: auto;
    height: auto;
    width: 800px;
    padding: 10px;
    font-style: italic;
}
section{
    display: flex;
    flex-direction: column;
}
.h{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}
.h img{
    width: 70%;
    margin: 5px;
}
.s figure{
    margin: 0;
}
.s figcaption{
    text-align: center;
    font-size: 12px;
}
p{
    font-size: 12px;
    font-weight: 520;
}
.s{
    display: flex;
    flex-direction: row;
}
.s div{
    display: flex;
    flex-flow: column;
    order: 1;
    width: 50%;
}
.s div img{
    width:100%;
    margin: 5px;
}
.s div figure img:nth-child(2), .s div figure img:nth-child(3){
    height: 150px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}
.s p{
    width: 50%;
    margin: 5px;
    padding: 5px ;
    align-content: center;
    font-size: 15px;
}
.t{
    display: flex;
    flex-direction: row;
}
.ic{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.t p{
    width: 50%;
}

.t .ic img{
    width: 50%;
    height: 100px;
    object-fit: cover;
    align-self: center;
}
.one , .two , .three{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.ic{
    align-self: center;
}
.ic p{
    width: 50%;
    margin: 10px;
    font-family: serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration:dashed;
    align-self: center;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.two img{
    order: 1;
}
.three img{
    margin-left:10px ;
}

.fotter{
    display: flex;
}
